---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';

const home = await getEntry('pages', 'home');
if (!home) throw new Error('Home page not found');
const { Content } = await home.render();
---

<Layout title={home.data.title}>
  <div class="prose prose-lg mx-auto">
    <Content />
  </div>
</Layout>
